In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)

school_df = "Resources/schools_complete.csv"
student_df = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames

school_df = pd.read_csv(school_df)
student_df = pd.read_csv(student_df)

In [4]:
school_df.head(1)

   School ID        school_name      type  size   budget
0          0  Huang High School  District  2917  1910635

In [5]:
school_df['stBud'] = (school_df['budget']) / (school_df['size'])

In [6]:
school_df.head()

   School ID            school_name      type  size   budget  stBud
0          0      Huang High School  District  2917  1910635  655.0
1          1   Figueroa High School  District  2949  1884411  639.0
2          2    Shelton High School   Charter  1761  1056600  600.0
3          3  Hernandez High School  District  4635  3022020  652.0
4          4    Griffin High School   Charter  1468   917500  625.0

In [7]:
student_df.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79

In [8]:
## Create Columns That Assume Fail before 70+ Result
student_df['pRead'] = False
student_df['pMath'] = False
student_df['pComb'] = False

In [9]:
## Edit Columns for successful students to Pass
student_df.loc[student_df['reading_score'] >= 70, 'pRead'] = True
student_df.loc[student_df['math_score'] >= 70, 'pMath'] = True
student_df.loc[(student_df['reading_score'] >= 70) & (student_df['math_score'] >= 70), 'pComb'] = True
student_df.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,pRead,pMath,pComb
0,0,Paul Bradley,M,9th,Huang High School,66,79,False,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,True,False,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,True,False,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,True,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,True,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,True,True,True
7,7,Nicole Baker,F,12th,Huang High School,96,69,True,False,False
8,8,Michael Roth,M,10th,Huang High School,95,87,True,True,True
9,9,Matthew Greene,M,10th,Huang High School,96,84,True,True,True
10,10,Andrew Alexander,M,10th,Huang High School,90,70,True,True,True
11,11,Daniel Cooper,M,10th,Huang High School,78,77,True,True,True
12,12,Brittney Walker,F,9th,Huang High School,64,79,False,True,False
13,13,William Long,M,9th,Huang High School,71,79,True,True,True
14,14,Tammy Hebert,F,10th,Huang High School,85,67,True,False,False
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,True,True,True
16,16,Donald Zamora,M,9th,Huang High School,88,55,True,False,False
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,True,True,True
18,18,Kevin Stevens,M,9th,Huang High School,64,69,False,False,False
19,19,Brandi Lyons,F,9th,Huang High School,89,80,True,True,True

In [10]:
student_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
pRead              bool
pMath              bool
pComb              bool
dtype: object

In [11]:
pRdist = (student_df['pRead']).sum()
pMdist = (student_df['pMath']).sum()
pAdist = (student_df['pComb']).sum()

In [12]:
print(pRdist)

33610

In [13]:
print(pMdist)

29370

In [14]:
print(pAdist)

25528

In [15]:
# Combine the data into a single dataset.  
comb_df = pd.merge(school_df, student_df, on=["school_name"])

In [16]:
comb_df.head(1)

,School ID,school_name,type,size,budget,stBud,Student ID,student_name,gender,grade,reading_score,math_score,pRead,pMath,pComb
0,0,Huang High School,District,2917,1910635,655.0,0,Paul Bradley,M,9th,66,79,False,True,False

In [17]:
#  INFO comb_df.dtypes

In [18]:
# Split DataFrames for each School
hua_df = comb_df[comb_df['school_name'] == 'Huang High School']
fig_df = comb_df[comb_df['school_name'] == 'Figueroa High School']
she_df = comb_df[comb_df['school_name'] == 'Shelton High School']
her_df = comb_df[comb_df['school_name'] == 'Hernandez High School']
gri_df = comb_df[comb_df['school_name'] == 'Griffin High School']
wil_df = comb_df[comb_df['school_name'] == 'Wilson High School']
cab_df = comb_df[comb_df['school_name'] == 'Cabrera High School']
bai_df = comb_df[comb_df['school_name'] == 'Bailey High School']
hol_df = comb_df[comb_df['school_name'] == 'Holden High School']
pen_df = comb_df[comb_df['school_name'] == 'Pena High School']
wri_df = comb_df[comb_df['school_name'] == 'Wright High School']
rod_df = comb_df[comb_df['school_name'] == 'Rodriquez High School']
joh_df = comb_df[comb_df['school_name'] == 'Johnson High School']
for_df = comb_df[comb_df['school_name'] == 'Ford High School']
tho_df = comb_df[comb_df['school_name'] == 'Thomas High School']

In [19]:
# Assign Variables to Total Student Counts by School
huaSt = school_df.iloc[0, 3]
figSt = school_df.iloc[1, 3]
sheSt = school_df.iloc[2, 3]
herSt = school_df.iloc[3, 3]
griSt = school_df.iloc[4, 3]
wilSt = school_df.iloc[5, 3]
cabSt = school_df.iloc[6, 3]
baiSt = school_df.iloc[7, 3]
holSt = school_df.iloc[8, 3]
penSt = school_df.iloc[9, 3]
wriSt = school_df.iloc[10, 3]
rodSt = school_df.iloc[11, 3]
johSt = school_df.iloc[12, 3]
forSt = school_df.iloc[13, 3]
thoSt = school_df.iloc[14, 3]

In [20]:
#Assign Variables to Student Budgets by School
huaBi = school_df.iloc[0, 5]
figBi = school_df.iloc[1, 5]
sheBi = school_df.iloc[2, 5]
herBi = school_df.iloc[3, 5]
griBi = school_df.iloc[4, 5]
wilBi = school_df.iloc[5, 5]
cabBi = school_df.iloc[6, 5]
baiBi = school_df.iloc[7, 5]
holBi = school_df.iloc[8, 5]
penBi = school_df.iloc[9, 5]
wriBi = school_df.iloc[10, 5]
rodBi = school_df.iloc[11, 5]
johBi = school_df.iloc[12, 5]
forBi = school_df.iloc[13, 5]
thoBi = school_df.iloc[14, 5]

In [21]:
print(huaSt)

2917

In [22]:
distSt = school_df["size"].sum()

In [23]:
# More Variables for District -- Averages
aRdist = student_df['reading_score'].mean()
aMdist = student_df['math_score'].mean()

# More Variables for District -- Percentages
ppMdist = (pRdist/distSt)
ppMdist = (pMdist/distSt)
ppMdist = (pAdist/distSt)

In [24]:
# Count Passing Students in 3 Criteria by School
pRhua = (hua_df['pRead']).sum()
pMhua = (hua_df['pMath']).sum()
pAhua = (hua_df['pComb']).sum()
#----------------------------------------
pRfig = (fig_df['pRead']).sum()
pMfig = (fig_df['pMath']).sum()
pAfig = (fig_df['pComb']).sum()
#----------------------------------------
pRshe = (she_df['pRead']).sum()
pMshe = (she_df['pMath']).sum()
pAshe = (she_df['pComb']).sum()
#----------------------------------------
pRher = (her_df['pRead']).sum()
pMher = (her_df['pMath']).sum()
pAher = (her_df['pComb']).sum()
#----------------------------------------
pRgri = (gri_df['pRead']).sum()
pMgri = (gri_df['pMath']).sum()
pAgri = (gri_df['pComb']).sum()
#----------------------------------------
pRwil = (wil_df['pRead']).sum()
pMwil = (wil_df['pMath']).sum()
pAwil = (wil_df['pComb']).sum()
#----------------------------------------
pRcab = (cab_df['pRead']).sum()
pMcab = (cab_df['pMath']).sum()
pAcab = (cab_df['pComb']).sum()
#----------------------------------------
pRbai = (bai_df['pRead']).sum()
pMbai = (bai_df['pMath']).sum()
pAbai = (bai_df['pComb']).sum()
#----------------------------------------
pRhol = (hol_df['pRead']).sum()
pMhol = (hol_df['pMath']).sum()
pAhol = (hol_df['pComb']).sum()
#----------------------------------------
pRpen = (pen_df['pRead']).sum()
pMpen = (pen_df['pMath']).sum()
pApen = (pen_df['pComb']).sum()
#----------------------------------------
pRwri = (wri_df['pRead']).sum()
pMwri = (wri_df['pMath']).sum()
pAwri = (wri_df['pComb']).sum()
#----------------------------------------
pRrod = (rod_df['pRead']).sum()
pMrod = (rod_df['pMath']).sum()
pArod = (rod_df['pComb']).sum()
#----------------------------------------
pRjoh = (joh_df['pRead']).sum()
pMjoh = (joh_df['pMath']).sum()
pAjoh = (joh_df['pComb']).sum()
#----------------------------------------
pRfor = (for_df['pRead']).sum()
pMfor = (for_df['pMath']).sum()
pAfor = (for_df['pComb']).sum()
#----------------------------------------
pRtho = (tho_df['pRead']).sum()
pMtho = (tho_df['pMath']).sum()
pAtho = (tho_df['pComb']).sum()

In [25]:
# Assign Varables to Reading Averages by School
aRhua = hua_df['reading_score'].mean()
aRfig = fig_df['reading_score'].mean()
aRshe = she_df['reading_score'].mean()
aRher = her_df['reading_score'].mean()
aRgri = gri_df['reading_score'].mean()
aRwil = wil_df['reading_score'].mean()
aRcab = cab_df['reading_score'].mean()
aRbai = bai_df['reading_score'].mean()
aRhol = hol_df['reading_score'].mean()
aRpen = pen_df['reading_score'].mean()
aRwri = wri_df['reading_score'].mean()
aRrod = rod_df['reading_score'].mean()
aRjoh = joh_df['reading_score'].mean()
aRfor = for_df['reading_score'].mean()
aRtho = tho_df['reading_score'].mean()

In [41]:
aRhol.dtypes

AttributeError: 'float' object has no attribute 'dtypes'

In [26]:
# Assign Varables to Math Averages by School math
aMhua = hua_df['math_score'].mean()
aMfig = fig_df['math_score'].mean()
aMshe = she_df['math_score'].mean()
aMher = her_df['math_score'].mean()
aMgri = gri_df['math_score'].mean()
aMwil = wil_df['math_score'].mean()
aMcab = cab_df['math_score'].mean()
aMbai = bai_df['math_score'].mean()
aMhol = hol_df['math_score'].mean()
aMpen = pen_df['math_score'].mean()
aMwri = wri_df['math_score'].mean()
aMrod = rod_df['math_score'].mean()
aMjoh = joh_df['math_score'].mean()
aMfor = for_df['math_score'].mean()
aMtho = tho_df['math_score'].mean()

In [27]:
# Assign Varables to Reading Percentages by School
ppRhua = (pRhua/huaSt)*100
ppRfig = (pRfig/figSt)*100
ppRshe = (pRshe/sheSt)*100
ppRher = (pRher/herSt)*100
ppRgri = (pRgri/griSt)*100
ppRwil = (pRwil/wilSt)*100
ppRcab = (pRcab/cabSt)*100
ppRbai = (pRbai/baiSt)*100
ppRhol = (pRhol/holSt)*100
ppRpen = (pRpen/penSt)*100
ppRwri = (pRwri/wriSt)*100
ppRrod = (pRrod/rodSt)*100
ppRjoh = (pRjoh/johSt)*100
ppRfor = (pRfor/forSt)*100
ppRtho = (pRtho/thoSt)*100

In [28]:
# Assign Varables to Math Percentages by School
ppMhua = (pMhua/huaSt)*100
ppMfig = (pMfig/figSt)*100
ppMshe = (pMshe/sheSt)*100
ppMher = (pMher/herSt)*100
ppMgri = (pMgri/griSt)*100
ppMwil = (pMwil/wilSt)*100
ppMcab = (pMcab/cabSt)*100
ppMbai = (pMbai/baiSt)*100
ppMhol = (pMhol/holSt)*100
ppMpen = (pMpen/penSt)*100
ppMwri = (pMwri/wriSt)*100
ppMrod = (pMrod/rodSt)*100
ppMjoh = (pMjoh/johSt)*100
ppMfor = (pMfor/forSt)*100
ppMtho = (pMtho/thoSt)*100

In [29]:
# Assign Varables to Overall Percentages by School
ppAhua = (pAhua/huaSt)*100
ppAfig = (pAfig/figSt)*100
ppAshe = (pAshe/sheSt)*100
ppAher = (pAher/herSt)*100
ppAgri = (pAgri/griSt)*100
ppAwil = (pAwil/wilSt)*100
ppAcab = (pAcab/cabSt)*100
ppAbai = (pAbai/baiSt)*100
ppAhol = (pAhol/holSt)*100
ppApen = (pApen/penSt)*100
ppAwri = (pAwri/wriSt)*100
ppArod = (pArod/rodSt)*100
ppAjoh = (pAjoh/johSt)*100
ppAfor = (pAfor/forSt)*100
ppAtho = (pAtho/thoSt)*100

In [30]:
student_df["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [31]:
# Calculate the total number of schools
schoolCt = school_df["school_name"].nunique()

In [32]:
# Calculate the total number of students
distSt = student_df["student_name"].count()

In [33]:
# Caluculate the total budget
distBudg = school_df["budget"].sum()

In [34]:
# Calculate the average reading score
rAvg = student_df["reading_score"].mean()

In [35]:
# Calculate the average math score
mAvg = student_df["math_score"].mean()

In [36]:
# Calculate the percentage of passing students in 3 categories
ppRdist = (pRdist / distSt) * 100
ppMdist = (pMdist / distSt) * 100
ppAdist = (pAdist / distSt) * 100

In [37]:
# Optional: give the displayed data cleaner formatting

## District Summary

In [38]:
# Create a dataframe to hold the above results
dist_summary = {'Total Schools': schoolCt, 'Total Students': distSt, 'Total Budget': distBudg, \
                          'Average Math Score': mAvg, 'Average Reading score': rAvg, '% Passing Reading': ppRdist, \
                          '% Passing Math': ppMdist, '% Overall Passing': ppAdist}
(dist_summary)

{'Total Schools': 15,
 'Total Students': 39170,
 'Total Budget': 24649428,
 'Average Math Score': 78.98537145774827,
 'Average Reading score': 81.87784018381414,
 '% Passing Reading': 85.80546336482001,
 '% Passing Math': 74.9808526933878,
 '% Overall Passing': 65.17232575950983}

In [39]:
# Create a Summary DataFrame for school results

## School Summary

# <span style="color: blue;">CURRENTLY</span> <span style="color: green;">WORKING</span> <span style="color: red;">HERE</span>

In [40]:
sch_sum_df = pd.DataFrame({
        "School Name": ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", \
        "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", \
        "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", \
        "Thomas High School"], "School Type": ["District", "District", "Charter", "District", "Charter", "Charter", \
        "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"], \
        "Total Students": ["2917", "2949", "1761", "4635", "1468", "2283", "1858", "4976", "427", "962", "1800", "3999", \
        "4761", "2739", "1635"], "Total School Budget": ["1910635", "1884411", "1056600", "3022020", "917500", "1319574", \
        "1081356", "3124928", "248087", "585858", "1049400", "2547363", "3094650", "1763916", "1043130"], "Per Student Budget": \
        [(huaBi), (figBi), (sheBi), (herBi), (griBi), (wilBi), (cabBi), (baiBi), (holBi), (penBi), (wriBi), (rodBi), (johBi), \
        (forBi), (thoBi)], "Average Reading Score": [(aRhua), (aRfig), (aRshe), (aRher), (aRgri), (aRwil), (aRcab), (aRbai) \
        (aRhol), (aRpen), (aRwri), (aRrod), (aRjoh), (aRfor), (aRtho)], "Average Math Score": [(aMhua), (aMfig), (aMshe) \
        (aMher), (aMgri), (aMwil), (aMcab), (aMbai), (aMhol), (aMpen), (aMwri), (aMrod), (aMjoh), (aMfor), (aMtho)], \
        "% Passing Math": [(ppMhua), (ppMfig), (ppMshe), (ppMher), (ppMgri), (ppMwil), (ppMcab), (ppMbai), (ppMhol), (ppMpen), \
        (ppMwri), (ppMrod), (ppMjoh), (ppMfor), (ppMtho)]})#, \
        #"% Passing Reading": [ppRhua, ppMRig, ppRshe, ppRher, ppRgri, ppRwil, ppRcab, ppRbai, ppRhol, ppRpen, ppRwri, ppRrod, \
        #ppRjoh, ppRfor, ppRtho], "% Overall Passing": [ppAhua, ppAfig, ppAshe, ppAher, ppAgri, ppAwil, ppAcab, ppAbai, ppAhol, \
        #ppApen, ppAwri, ppArod, ppAjoh, ppAfor, ppAtho]})

TypeError: 'float' object is not callable

In [ ]:
sch_sum_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
#create a dataframe groped by Overall Passing per School
oPass_df = gr_Sch_df.groupby(["sch_summary.ascend=True

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
sch_summary.ascend=False

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
studByYr_summary = gr_Sch_df({' ': school_name, 
              '9th': mAvg
              '10th': mAvg
              '11th': mAvg
              '12th': mAvg

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
studByYr_summary = gr_Sch_df({' ': school_name, 
              '9th': rAvg
              '10th': rAvg
              '11th': rAvg
              '12th': rAvg

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type