In [2]:
# Dependencies and Setup
import pandas as pd

In [3]:
# File to Load (Remember to Change These)

school_df = "Resources/schools_complete.csv"
student_df = "Resources/students_complete.csv"

In [4]:
# Read School and Student Data File and store into Pandas DataFrames

school_df = pd.read_csv(school_df)
student_df = pd.read_csv(student_df)

In [5]:
school_df.head(5)

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
student_df.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
# Combine the data into a single dataset.  
comb_df = pd.merge(school_df, student_df, on=["school_name"])

In [8]:
comb_df.head(1)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79

In [9]:
#  INFO comb_df.dtypes

In [10]:
rPass_df = comb_df[comb_df['reading_score'] >= 70]
mPass_df = comb_df[comb_df['math_score'] >= 70]

# Save^  vTest School Splits

In [11]:
# Split DataFrames for each School
hua_df = comb_df[comb_df['school_name'] == 'Huang High School']
fig_df = comb_df[comb_df['school_name'] == 'Figueroa High School']
she_df = comb_df[comb_df['school_name'] == 'Shelton High School']
her_df = comb_df[comb_df['school_name'] == 'Hernandez High School']
gri_df = comb_df[comb_df['school_name'] == 'Griffin High School']
wil_df = comb_df[comb_df['school_name'] == 'Wilson High School']
cab_df = comb_df[comb_df['school_name'] == 'Cabrera High School']
bai_df = comb_df[comb_df['school_name'] == 'Bailey High School']
hol_df = comb_df[comb_df['school_name'] == 'Holden High School']
pen_df = comb_df[comb_df['school_name'] == 'Pena High School']
wri_df = comb_df[comb_df['school_name'] == 'Wright High School']
rod_df = comb_df[comb_df['school_name'] == 'Rodriquez High School']
joh_df = comb_df[comb_df['school_name'] == 'Johnson High School']
for_df = comb_df[comb_df['school_name'] == 'Ford High School']
tho_df = comb_df[comb_df['school_name'] == 'Thomas High School']

In [12]:
# Assign Variables to Total Student Counts by School
huaSt = school_df.iloc[0, 3]
figSt = school_df.iloc[1, 3]
sheSt = school_df.iloc[2, 3]
herSt = school_df.iloc[3, 3]
griSt = school_df.iloc[4, 3]
wilSt = school_df.iloc[5, 3]
cabSt = school_df.iloc[6, 3]
baiSt = school_df.iloc[7, 3]
holSt = school_df.iloc[8, 3]
penSt = school_df.iloc[9, 3]
wriSt = school_df.iloc[10, 3]
rodSt = school_df.iloc[11, 3]
johSt = school_df.iloc[12, 3]
forSt = school_df.iloc[13, 3]
thoSt = school_df.iloc[14, 3]

In [13]:
distSt = school_df["size"].sum()

In [61]:
# Assign Variables to Values counts for entire District
pRdist = student_df.loc[(student_df["reading_score"] >= 70), :].count()
pMdist = student_df.loc[(student_df["math_score"] >=70), :].count()
pAdist = student_df.loc[(student_df["reading_score"] >= 70) & (student_df["math_score"] >=70), :].count()
pRdist = student_df['pRdist'].astype(int) # Transform as numeric
pRdist

KeyError: 'pRdist'

In [15]:
# More Variables for District -- Averages
aRdist = student_df['reading_score'].mean()
aMdist = student_df['math_score'].mean()

# More Variables for District -- Percentages
ppMdist = (pRdist/distSt)
ppMdist = (pMdist/distSt)
ppMdist = (pAdist/distSt)

In [16]:
# Count Passing Students in 3 Criteria by School
pRhua = hua_df.loc[(hua_df["reading_score"] >= 70), :].count()
pMhua = hua_df.loc[(hua_df["math_score"] >=70), :].count()
pAhua = hua_df.loc[(hua_df["reading_score"] >= 70) & (hua_df["math_score"] >=70), :].count()
#----------------------------------------
pRfig = fig_df.loc[(fig_df["reading_score"] >= 70), :].count()
pMfig = fig_df.loc[(fig_df["math_score"] >=70), :].count()
pAfig = fig_df.loc[(fig_df["reading_score"] >= 70) & (fig_df["math_score"] >=70), :].count()
#----------------------------------------
pRshe = she_df.loc[(she_df["reading_score"] >= 70), :].count()
pMshe = she_df.loc[(she_df["math_score"] >=70), :].count()
pAshe = she_df.loc[(she_df["reading_score"] >= 70) & (she_df["math_score"] >=70), :].count()
#----------------------------------------
pRher = her_df.loc[(her_df["reading_score"] >= 70), :].count()
pMher = her_df.loc[(her_df["math_score"] >=70), :].count()
pAher = her_df.loc[(her_df["reading_score"] >= 70) & (her_df["math_score"] >=70), :].count()
#----------------------------------------
pRgri = gri_df.loc[(gri_df["reading_score"] >= 70), :].count()
pMgri = gri_df.loc[(gri_df["math_score"] >=70), :].count()
pAgri = gri_df.loc[(gri_df["reading_score"] >= 70) & (gri_df["math_score"] >=70), :].count()
#----------------------------------------
pRwil = wil_df.loc[(wil_df["reading_score"] >= 70), :].count()
pMwil = wil_df.loc[(wil_df["math_score"] >=70), :].count()
pAwil = wil_df.loc[(wil_df["reading_score"] >= 70) & (wil_df["math_score"] >=70), :].count()
#----------------------------------------
pRcab = cab_df.loc[(cab_df["reading_score"] >= 70), :].count()
pMcab = cab_df.loc[(cab_df["math_score"] >=70), :].count()
pAcab = cab_df.loc[(cab_df["reading_score"] >= 70) & (cab_df["math_score"] >=70), :].count()
#----------------------------------------
pRbai = bai_df.loc[(bai_df["reading_score"] >= 70), :].count()
pMbai = bai_df.loc[(bai_df["math_score"] >=70), :].count()
pAbai = bai_df.loc[(bai_df["reading_score"] >= 70) & (bai_df["math_score"] >=70), :].count()
#----------------------------------------
pRhol = hol_df.loc[(hol_df["reading_score"] >= 70), :].count()
pMhol = hol_df.loc[(hol_df["math_score"] >=70), :].count()
pAhol = hol_df.loc[(hol_df["reading_score"] >= 70) & (hol_df["math_score"] >=70), :].count()
#----------------------------------------
pRpen = pen_df.loc[(pen_df["reading_score"] >= 70), :].count()
pMpen = pen_df.loc[(pen_df["math_score"] >=70), :].count()
pApen = pen_df.loc[(pen_df["reading_score"] >= 70) & (pen_df["math_score"] >=70), :].count()
#----------------------------------------
pRwri = wri_df.loc[(wri_df["reading_score"] >= 70), :].count()
pMwri = wri_df.loc[(wri_df["math_score"] >=70), :].count()
pAwri = wri_df.loc[(wri_df["reading_score"] >= 70) & (wri_df["math_score"] >=70), :].count()
#----------------------------------------
pRrod = rod_df.loc[(rod_df["reading_score"] >= 70), :].count()
pMrod = rod_df.loc[(rod_df["math_score"] >=70), :].count()
pArod = rod_df.loc[(rod_df["reading_score"] >= 70) & (rod_df["math_score"] >=70), :].count()
#----------------------------------------
pRjoh = joh_df.loc[(joh_df["reading_score"] >= 70), :].count()
pMjoh = joh_df.loc[(joh_df["math_score"] >=70), :].count()
pAjoh = joh_df.loc[(joh_df["reading_score"] >= 70) & (joh_df["math_score"] >=70), :].count()
#----------------------------------------
pRfor = for_df.loc[(for_df["reading_score"] >= 70), :].count()
pMfor = for_df.loc[(for_df["math_score"] >=70), :].count()
pAfor = for_df.loc[(for_df["reading_score"] >= 70) & (for_df["math_score"] >=70), :].count()
#----------------------------------------
pRtho = tho_df.loc[(tho_df["reading_score"] >= 70), :].count()
pMtho = tho_df.loc[(tho_df["math_score"] >=70), :].count()
pAtho = tho_df.loc[(tho_df["reading_score"] >= 70) & (tho_df["math_score"] >=70), :].count()

In [17]:
# Assign Varables to Reading Averages by School
aRhua = hua_df['reading_score'].mean()
aRfig = fig_df['reading_score'].mean()
aRshe = she_df['reading_score'].mean()
aRher = her_df['reading_score'].mean()
aRgri = gri_df['reading_score'].mean()
aRwil = wil_df['reading_score'].mean()
aRcab = cab_df['reading_score'].mean()
aRbai = bai_df['reading_score'].mean()
aRhol = hol_df['reading_score'].mean()
aRpen = pen_df['reading_score'].mean()
aRwri = wri_df['reading_score'].mean()
aRrod = rod_df['reading_score'].mean()
aRjoh = joh_df['reading_score'].mean()
aRfor = for_df['reading_score'].mean()
aRtho = tho_df['reading_score'].mean()

In [18]:
# Assign Varables to Math Averages by School math
aMhua = hua_df['math_score'].mean()
aMfig = fig_df['math_score'].mean()
aMshe = she_df['math_score'].mean()
aMher = her_df['math_score'].mean()
aMgri = gri_df['math_score'].mean()
aMwil = wil_df['math_score'].mean()
aMcab = cab_df['math_score'].mean()
aMbai = bai_df['math_score'].mean()
aMhol = hol_df['math_score'].mean()
aMpen = pen_df['math_score'].mean()
aMwri = wri_df['math_score'].mean()
aMrod = rod_df['math_score'].mean()
aMjoh = joh_df['math_score'].mean()
aMfor = for_df['math_score'].mean()
aMtho = tho_df['math_score'].mean()

In [19]:
# Assign Varables to Reading Percentages by School
ppRhua = (pRhua/huaSt)
ppRfig = (pRfig/figSt)
ppRshe = (pRshe/sheSt)
ppRher = (pRher/herSt)
ppRgri = (pRgri/griSt)
ppRwil = (pRwil/wilSt)
ppRcab = (pRcab/cabSt)
ppRbai = (pRbai/baiSt)
ppRhol = (pRhol/holSt)
ppRpen = (pRpen/penSt)
ppRwri = (pRwri/wriSt)
ppRrod = (pRrod/rodSt)
ppRjoh = (pRjoh/johSt)
ppRfor = (pRfor/forSt)
ppRtho = (pRtho/thoSt)

In [20]:
# Assign Varables to Math Percentages by School
ppMhua = (pMhua/huaSt)
ppMfig = (pMfig/figSt)
ppMshe = (pMshe/sheSt)
ppMher = (pMher/herSt)
ppMgri = (pMgri/griSt)
ppMwil = (pMwil/wilSt)
ppMcab = (pMcab/cabSt)
ppMbai = (pMbai/baiSt)
ppMhol = (pMhol/holSt)
ppMpen = (pMpen/penSt)
ppMwri = (pMwri/wriSt)
ppMrod = (pMrod/rodSt)
ppMjoh = (pMjoh/johSt)
ppMfor = (pMfor/forSt)
ppMtho = (pMtho/thoSt)

In [21]:
# Assign Varables to Overall Percentages by School
ppAhua = (pAhua/huaSt)
ppAfig = (pAfig/figSt)
ppAshe = (pAshe/sheSt)
ppAher = (pAher/herSt)
ppAgri = (pAgri/griSt)
ppAwil = (pAwil/wilSt)
ppAcab = (pAcab/cabSt)
ppAbai = (pAbai/baiSt)
ppAhol = (pAhol/holSt)
ppApen = (pApen/penSt)
ppAwri = (pAwri/wriSt)
ppArod = (pArod/rodSt)
ppAjoh = (pAjoh/johSt)
ppAfor = (pAfor/forSt)
ppAtho = (pAtho/thoSt)

In [22]:
student_df["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

##TEST
spr_df = student_df.groupby(["school_name"])
rpCt = student_df.loc[(student_df["reading_score"] >= 70), :].count()
mpCt = student_df.loc[(student_df["math_score"] >= 70), :].count()
cpCt = student_df.loc[(student_df["reading_score"] >= 70) & (student_df["math_score"] >= 70), :].count()

rpCt, mpCt, cpCt

## District Summary

In [23]:
# Calculate the total number of schools
schoolCt = school_df["school_name"].nunique()

In [45]:
# Calculate the total number of students
distSt = student_df["student_name"].count()

39170

In [25]:
# Caluculate the total budget
distBudg = school_df["budget"].sum()

In [27]:
# Calculate the average reading score
rAvg = student_df["reading_score"].mean()

In [28]:
# Calculate the average math score
mAvg = student_df["math_score"].mean()

In [31]:
# Calculate the percentage of passing students in 3 categories
ppRdist = (pRdist / distSt)
ppMdist = (pMdist / distSt)
ppAdist = (pAdist / distSt)

In [32]:
# Optional: give the displayed data cleaner formatting

In [44]:
# Create a dataframe to hold the above results
dist_summary = {'Total Schools': schoolCt, 'Total Students': distSt, 'Total Budget': distBudg, \
                          'Average Math Score': mAvg, 'Average Reading score': rAvg, '% Passing Reading': ppRdist, \
                          '% Passing Math': ppMdist, '% Overall Passing': ppAdist}
(dist_summary)

{'Total Schools': 15,
 'Total Students': 39170,
 'Total Budget': 24649428,
 'Average Math Score': 78.98537145774827,
 'Average Reading score': 81.87784018381414,
 '% Passing Reading': Student ID       0.858055
 student_name     0.858055
 gender           0.858055
 grade            0.858055
 school_name      0.858055
 reading_score    0.858055
 math_score       0.858055
 dtype: float64,
 '% Passing Math': Student ID       0.749809
 student_name     0.749809
 gender           0.749809
 grade            0.749809
 school_name      0.749809
 reading_score    0.749809
 math_score       0.749809
 dtype: float64,
 '% Overall Passing': Student ID       0.651723
 student_name     0.651723
 gender           0.651723
 grade            0.651723
 school_name      0.651723
 reading_score    0.651723
 math_score       0.651723
 dtype: float64}

In [ ]:
combined_df.head(1)

## School Summary

# WORKING -V- HERE

In [ ]:
# Create lists and add them to the dataframe
rAvgs = pd.Series[(pRhua / huaSt)], #(pRfig) / (figSt), (pRshe) / (sheSt), (pRher) / (herSt), (pRgri) / (griSt), \
                  #(pRwil) / (wilSt), (pRcab) / (cabSt), (pRbai) / (baiSt), (pRhol) / (holSt), (pRpen) / (penSt), \
                  #(pRwri) / (wriSt), (pRrod) / (rodSt), (pRjoh) / (johSt), (pRfor) / (forSt), (pRtho) / (thoSt)]

pRavg_list = pd.Series(rAvgs, index = ["% Passing Math"])

print(pRavg)

In [ ]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

In [ ]:
# Create a Summary DataFrame for school results

In [ ]:
sch_sum_df = pd.DataFrame({
        "School Name": ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School",\
        "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", \
        "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"],
        "School Type":                  })

# School Type
typeSch = combined_df["type"]
# Total Students
studCt = combined_df["size"]
# Total School Budget
schoolBudg = combined_df["budget"]
# Per Student Budget
iBudg = (schoolBudg / studCt)
# Average Math Score
mSchAvg = ##perschool##"math_score"().mean
# Average Reading Score
rSchAvg = ##perschool##"reading_score"().mean
# % Passing Math
ppMath##perschool##().mean
# % Passing Reading
ppReading##perschool##.mean
# % Overall Passing (The percentage of students that passed math **and** reading.)
ppBothper##perschool##().mean

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
#create a dataframe groped by Overall Passing per School
oPass_df = gr_Sch_df.groupby(["sch_summary.ascend=True

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
sch_summary.ascend=False

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
studByYr_summary = gr_Sch_df({' ': school_name, 
              '9th': mAvg
              '10th': mAvg
              '11th': mAvg
              '12th': mAvg

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
studByYr_summary = gr_Sch_df({' ': school_name, 
              '9th': rAvg
              '10th': rAvg
              '11th': rAvg
              '12th': rAvg

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type