In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)

school_df = "Resources/schools_complete.csv"
student_df = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames

school_df = pd.read_csv(school_df)
student_df = pd.read_csv(student_df)

In [4]:
school_df.head(1)

   School ID        school_name      type  size   budget
0          0  Huang High School  District  2917  1910635

In [5]:
school_df['stBud'] = (school_df['budget']) / (school_df['size'])

In [6]:
school_df.head()

   School ID            school_name      type  size   budget  stBud
0          0      Huang High School  District  2917  1910635  655.0
1          1   Figueroa High School  District  2949  1884411  639.0
2          2    Shelton High School   Charter  1761  1056600  600.0
3          3  Hernandez High School  District  4635  3022020  652.0
4          4    Griffin High School   Charter  1468   917500  625.0

In [7]:
student_df.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79

In [8]:
## Create Columns That Assume Fail before 70+ Result
student_df['pRead'] = False
student_df['pMath'] = False
student_df['pComb'] = False

In [9]:
## Edit Columns for successful students to Pass
student_df.loc[student_df['reading_score'] >= 70, 'pRead'] = True
student_df.loc[student_df['math_score'] >= 70, 'pMath'] = True
student_df.loc[(student_df['reading_score'] >= 70) & (student_df['math_score'] >= 70), 'pComb'] = True
student_df.head(20)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,pRead,pMath,pComb
0,0,Paul Bradley,M,9th,Huang High School,66,79,False,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,True,False,False
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,True,False,False
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,False,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,True,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,True,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,True,True,True
7,7,Nicole Baker,F,12th,Huang High School,96,69,True,False,False
8,8,Michael Roth,M,10th,Huang High School,95,87,True,True,True
9,9,Matthew Greene,M,10th,Huang High School,96,84,True,True,True
10,10,Andrew Alexander,M,10th,Huang High School,90,70,True,True,True
11,11,Daniel Cooper,M,10th,Huang High School,78,77,True,True,True
12,12,Brittney Walker,F,9th,Huang High School,64,79,False,True,False
13,13,William Long,M,9th,Huang High School,71,79,True,True,True
14,14,Tammy Hebert,F,10th,Huang High School,85,67,True,False,False
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,True,True,True
16,16,Donald Zamora,M,9th,Huang High School,88,55,True,False,False
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,True,True,True
18,18,Kevin Stevens,M,9th,Huang High School,64,69,False,False,False
19,19,Brandi Lyons,F,9th,Huang High School,89,80,True,True,True

In [10]:
student_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
pRead              bool
pMath              bool
pComb              bool
dtype: object

In [11]:
pRdist = (student_df['pRead']).sum()
pMdist = (student_df['pMath']).sum()
pAdist = (student_df['pComb']).sum()

In [12]:
print(pRdist)

33610

In [13]:
print(pMdist)

29370

In [14]:
print(pAdist)

25528

In [15]:
# Combine the data into a single dataset.  
comb_df = pd.merge(school_df, student_df, on=["school_name"])

In [16]:
comb_df.head(1)

,School ID,school_name,type,size,budget,stBud,Student ID,student_name,gender,grade,reading_score,math_score,pRead,pMath,pComb
0,0,Huang High School,District,2917,1910635,655.0,0,Paul Bradley,M,9th,66,79,False,True,False

In [17]:
#  INFO comb_df.dtypes

In [18]:
# Split DataFrames for each School
hua_df = comb_df[comb_df['school_name'] == 'Huang High School']
fig_df = comb_df[comb_df['school_name'] == 'Figueroa High School']
she_df = comb_df[comb_df['school_name'] == 'Shelton High School']
her_df = comb_df[comb_df['school_name'] == 'Hernandez High School']
gri_df = comb_df[comb_df['school_name'] == 'Griffin High School']
wil_df = comb_df[comb_df['school_name'] == 'Wilson High School']
cab_df = comb_df[comb_df['school_name'] == 'Cabrera High School']
bai_df = comb_df[comb_df['school_name'] == 'Bailey High School']
hol_df = comb_df[comb_df['school_name'] == 'Holden High School']
pen_df = comb_df[comb_df['school_name'] == 'Pena High School']
wri_df = comb_df[comb_df['school_name'] == 'Wright High School']
rod_df = comb_df[comb_df['school_name'] == 'Rodriguez High School']
joh_df = comb_df[comb_df['school_name'] == 'Johnson High School']
for_df = comb_df[comb_df['school_name'] == 'Ford High School']
tho_df = comb_df[comb_df['school_name'] == 'Thomas High School']

In [19]:
# Assign Variables to Total Student Counts by School
huaSt = school_df.iloc[0, 3]
figSt = school_df.iloc[1, 3]
sheSt = school_df.iloc[2, 3]
herSt = school_df.iloc[3, 3]
griSt = school_df.iloc[4, 3]
wilSt = school_df.iloc[5, 3]
cabSt = school_df.iloc[6, 3]
baiSt = school_df.iloc[7, 3]
holSt = school_df.iloc[8, 3]
penSt = school_df.iloc[9, 3]
wriSt = school_df.iloc[10, 3]
rodSt = school_df.iloc[11, 3]
johSt = school_df.iloc[12, 3]
forSt = school_df.iloc[13, 3]
thoSt = school_df.iloc[14, 3]

In [20]:
#Assign Variables to Student Budgets by School
huaBi = school_df.iloc[0, 5]
figBi = school_df.iloc[1, 5]
sheBi = school_df.iloc[2, 5]
herBi = school_df.iloc[3, 5]
griBi = school_df.iloc[4, 5]
wilBi = school_df.iloc[5, 5]
cabBi = school_df.iloc[6, 5]
baiBi = school_df.iloc[7, 5]
holBi = school_df.iloc[8, 5]
penBi = school_df.iloc[9, 5]
wriBi = school_df.iloc[10, 5]
rodBi = school_df.iloc[11, 5]
johBi = school_df.iloc[12, 5]
forBi = school_df.iloc[13, 5]
thoBi = school_df.iloc[14, 5]

In [21]:
distSt = school_df["size"].sum()

In [22]:
# More Variables for District -- Averages
aRdist = student_df['reading_score'].mean()
aMdist = student_df['math_score'].mean()

# More Variables for District -- Percentages
ppMdist = (pRdist/distSt)
ppMdist = (pMdist/distSt)
ppMdist = (pAdist/distSt)

In [23]:
# Count Passing Students in 3 Criteria by School
pRhua = (hua_df['pRead']).sum()
pMhua = (hua_df['pMath']).sum()
pAhua = (hua_df['pComb']).sum()
#----------------------------------------
pRfig = (fig_df['pRead']).sum()
pMfig = (fig_df['pMath']).sum()
pAfig = (fig_df['pComb']).sum()
#----------------------------------------
pRshe = (she_df['pRead']).sum()
pMshe = (she_df['pMath']).sum()
pAshe = (she_df['pComb']).sum()
#----------------------------------------
pRher = (her_df['pRead']).sum()
pMher = (her_df['pMath']).sum()
pAher = (her_df['pComb']).sum()
#----------------------------------------
pRgri = (gri_df['pRead']).sum()
pMgri = (gri_df['pMath']).sum()
pAgri = (gri_df['pComb']).sum()
#----------------------------------------
pRwil = (wil_df['pRead']).sum()
pMwil = (wil_df['pMath']).sum()
pAwil = (wil_df['pComb']).sum()
#----------------------------------------
pRcab = (cab_df['pRead']).sum()
pMcab = (cab_df['pMath']).sum()
pAcab = (cab_df['pComb']).sum()
#----------------------------------------
pRbai = (bai_df['pRead']).sum()
pMbai = (bai_df['pMath']).sum()
pAbai = (bai_df['pComb']).sum()
#----------------------------------------
pRhol = (hol_df['pRead']).sum()
pMhol = (hol_df['pMath']).sum()
pAhol = (hol_df['pComb']).sum()
#----------------------------------------
pRpen = (pen_df['pRead']).sum()
pMpen = (pen_df['pMath']).sum()
pApen = (pen_df['pComb']).sum()
#----------------------------------------
pRwri = (wri_df['pRead']).sum()
pMwri = (wri_df['pMath']).sum()
pAwri = (wri_df['pComb']).sum()
#----------------------------------------
pRrod = (rod_df['pRead']).sum()
pMrod = (rod_df['pMath']).sum()
pArod = (rod_df['pComb']).sum()
#----------------------------------------
pRjoh = (joh_df['pRead']).sum()
pMjoh = (joh_df['pMath']).sum()
pAjoh = (joh_df['pComb']).sum()
#----------------------------------------
pRfor = (for_df['pRead']).sum()
pMfor = (for_df['pMath']).sum()
pAfor = (for_df['pComb']).sum()
#----------------------------------------
pRtho = (tho_df['pRead']).sum()
pMtho = (tho_df['pMath']).sum()
pAtho = (tho_df['pComb']).sum()

In [24]:
# Assign Varables to Reading Averages by School
aRhua = hua_df['reading_score'].mean()
aRfig = fig_df['reading_score'].mean()
aRshe = she_df['reading_score'].mean()
aRher = her_df['reading_score'].mean()
aRgri = gri_df['reading_score'].mean()
aRwil = wil_df['reading_score'].mean()
aRcab = cab_df['reading_score'].mean()
aRbai = bai_df['reading_score'].mean()
aRhol = hol_df['reading_score'].mean()
aRpen = pen_df['reading_score'].mean()
aRwri = wri_df['reading_score'].mean()
aRrod = rod_df['reading_score'].mean()
aRjoh = joh_df['reading_score'].mean()
aRfor = for_df['reading_score'].mean()
aRtho = tho_df['reading_score'].mean()

In [25]:
# Assign Varables to Math Averages by School math
aMhua = hua_df['math_score'].mean()
aMfig = fig_df['math_score'].mean()
aMshe = she_df['math_score'].mean()
aMher = her_df['math_score'].mean()
aMgri = gri_df['math_score'].mean()
aMwil = wil_df['math_score'].mean()
aMcab = cab_df['math_score'].mean()
aMbai = bai_df['math_score'].mean()
aMhol = hol_df['math_score'].mean()
aMpen = pen_df['math_score'].mean()
aMwri = wri_df['math_score'].mean()
aMrod = rod_df['math_score'].mean()
aMjoh = joh_df['math_score'].mean()
aMfor = for_df['math_score'].mean()
aMtho = tho_df['math_score'].mean()

In [26]:
# Assign Varables to Reading Percentages by School
ppRhua = (pRhua/huaSt)*100
ppRfig = (pRfig/figSt)*100
ppRshe = (pRshe/sheSt)*100
ppRher = (pRher/herSt)*100
ppRgri = (pRgri/griSt)*100
ppRwil = (pRwil/wilSt)*100
ppRcab = (pRcab/cabSt)*100
ppRbai = (pRbai/baiSt)*100
ppRhol = (pRhol/holSt)*100
ppRpen = (pRpen/penSt)*100
ppRwri = (pRwri/wriSt)*100
ppRrod = (pRrod/rodSt)*100
ppRjoh = (pRjoh/johSt)*100
ppRfor = (pRfor/forSt)*100
ppRtho = (pRtho/thoSt)*100

In [27]:
# Assign Varables to Math Percentages by School
ppMhua = (pMhua/huaSt)*100
ppMfig = (pMfig/figSt)*100
ppMshe = (pMshe/sheSt)*100
ppMher = (pMher/herSt)*100
ppMgri = (pMgri/griSt)*100
ppMwil = (pMwil/wilSt)*100
ppMcab = (pMcab/cabSt)*100
ppMbai = (pMbai/baiSt)*100
ppMhol = (pMhol/holSt)*100
ppMpen = (pMpen/penSt)*100
ppMwri = (pMwri/wriSt)*100
ppMrod = (pMrod/rodSt)*100
ppMjoh = (pMjoh/johSt)*100
ppMfor = (pMfor/forSt)*100
ppMtho = (pMtho/thoSt)*100

In [28]:
# Assign Varables to Overall Percentages by School
ppAhua = (pAhua/huaSt)*100
ppAfig = (pAfig/figSt)*100
ppAshe = (pAshe/sheSt)*100
ppAher = (pAher/herSt)*100
ppAgri = (pAgri/griSt)*100
ppAwil = (pAwil/wilSt)*100
ppAcab = (pAcab/cabSt)*100
ppAbai = (pAbai/baiSt)*100
ppAhol = (pAhol/holSt)*100
ppApen = (pApen/penSt)*100
ppAwri = (pAwri/wriSt)*100
ppArod = (pArod/rodSt)*100
ppAjoh = (pAjoh/johSt)*100
ppAfor = (pAfor/forSt)*100
ppAtho = (pAtho/thoSt)*100

In [29]:
student_df["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [30]:
# Calculate the total number of schools
schoolCt = school_df["school_name"].nunique()

In [31]:
# Calculate the total number of students
distSt = student_df["student_name"].count()

In [32]:
# Caluculate the total budget
distBudg = school_df["budget"].sum()

In [33]:
# Calculate the average reading score
rAvg = student_df["reading_score"].mean()

In [34]:
# Calculate the average math score
mAvg = student_df["math_score"].mean()

In [35]:
# Calculate the percentage of passing students in 3 categories
ppRdist = (pRdist / distSt) * 100
ppMdist = (pMdist / distSt) * 100
ppAdist = (pAdist / distSt) * 100

In [36]:
# Optional: give the displayed data cleaner formatting

## District Summary

In [37]:
# Create a dataframe to hold the above results
dist_summary = {'Total Schools': schoolCt, 'Total Students': distSt, 'Total Budget': distBudg, \
                          'Average Math Score': mAvg, 'Average Reading score': rAvg, '% Passing Reading': ppRdist, \
                          '% Passing Math': ppMdist, '% Overall Passing': ppAdist}
(dist_summary)

{'Total Schools': 15,
 'Total Students': 39170,
 'Total Budget': 24649428,
 'Average Math Score': 78.98537145774827,
 'Average Reading score': 81.87784018381414,
 '% Passing Reading': 85.80546336482001,
 '% Passing Math': 74.9808526933878,
 '% Overall Passing': 65.17232575950983}

In [38]:
# Create a Summary DataFrame for school results

## School Summary

In [39]:
sch_sum_df = pd.DataFrame({
        "School Name": ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", \
        "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", \
        "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", \
        "Thomas High School"], "School Type": ["District", "District", "Charter", "District", "Charter", "Charter", \
        "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"], \
        "Total Students": ["2917", "2949", "1761", "4635", "1468", "2283", "1858", "4976", "427", "962", "1800", "3999", \
        "4761", "2739", "1635"], "Total School Budget": ["1910635", "1884411", "1056600", "3022020", "917500", "1319574", \
        "1081356", "3124928", "248087", "585858", "1049400", "2547363", "3094650", "1763916", "1043130"], "Per Student Budget": \
        [(huaBi), (figBi), (sheBi), (herBi), (griBi), (wilBi), (cabBi), (baiBi), (holBi), (penBi), (wriBi), (rodBi), (johBi), \
        (forBi), (thoBi)], "Average Reading Score": [(aRhua), (aRfig), (aRshe), (aRher), (aRgri), (aRwil), (aRcab), (aRbai), \
        (aRhol), (aRpen), (aRwri), (aRrod), (aRjoh), (aRfor), (aRtho)], "Average Math Score": [(aMhua), (aMfig), (aMshe), \
        (aMher), (aMgri), (aMwil), (aMcab), (aMbai), (aMhol), (aMpen), (aMwri), (aMrod), (aMjoh), (aMfor), (aMtho)], \
        "% Passing Math": [(ppMhua), (ppMfig), (ppMshe), (ppMher), (ppMgri), (ppMwil), (ppMcab), (ppMbai), (ppMhol), (ppMpen), \
        (ppMwri), (ppMrod), (ppMjoh), (ppMfor), (ppMtho)], "% Passing Reading": [(ppRhua), (ppMfig), (ppRshe), (ppRher), \
        (ppRgri), (ppRwil), (ppRcab), (ppRbai), (ppRhol), (ppRpen), (ppRwri), (ppRrod), (ppRjoh), (ppRfor), (ppRtho)], \
        "% Overall Passing": [(ppAhua), (ppAfig), (ppAshe), (ppAher), (ppAgri), (ppAwil), (ppAcab), (ppAbai), (ppAhol), \
        (ppApen), (ppAwri), (ppArod), (ppAjoh), (ppAfor), (ppAtho)]})

In [40]:
sch_sum_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421,53.513884
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,65.988471,53.204476
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,93.867121,95.854628,89.892107
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,66.752967,80.862999,53.527508
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641,90.582567
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828,91.334769
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,66.680064,81.933280,54.642283
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,92.505855,96.252927,89.227166
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946,90.540541
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,93.333333,96.611111,90.333333
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055,52.988247
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432,53.539172
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,68.309602,79.299014,54.289887
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869,90.948012

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [41]:
# Create a dataframe sorted by Overall Passing per School

top_df = sch_sum_df.sort_values('% Overall Passing', ascending=False)
top_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828,91.334769
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [42]:
bottom_df = sch_sum_df.sort_values('% Overall Passing', ascending=True)
bottom_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055,52.988247
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,65.988471,53.204476
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421,53.513884
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,66.752967,80.862999,53.527508
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [43]:
# Create Summary table using groupby to find average math scores by school & year of student 
comb_df.groupby(['school_name', 'grade'])['math_score'].mean()

school_name            grade
Bailey High School     10th     76.996772
                       11th     77.515588
                       12th     76.492218
                       9th      77.083676
Cabrera High School    10th     83.154506
                       11th     82.765560
                       12th     83.277487
                       9th      83.094697
Figueroa High School   10th     76.539974
                       11th     76.884344
                       12th     77.151369
                       9th      76.403037
Ford High School       10th     77.672316
                       11th     76.918058
                       12th     76.179963
                       9th      77.361345
Griffin High School    10th     84.229064
                       11th     83.842105
                       12th     83.356164
                       9th      82.044010
Hernandez High School  10th     77.337408
                       11th     77.136029
                       12th     77.186567
                       9th      77.438495
Holden High School     10th     83.429825
                       11th     85.000000
                       12th     82.855422
                       9th      83.787402
Huang High School      10th     75.908735
                       11th     76.446602
                       12th     77.225641
                       9th      77.027251
Johnson High School    10th     76.691117
                       11th     77.491653
                       12th     76.863248
                       9th      77.187857
Pena High School       10th     83.372000
                       11th     84.328125
                       12th     84.121547
                       9th      83.625455
Rodriguez High School  10th     76.612500
                       11th     76.395626
                       12th     77.690748
                       9th      76.859966
Shelton High School    10th     82.917411
                       11th     83.383495
                       12th     83.778976
                       9th      83.420755
Thomas High School     10th     83.087886
                       11th     83.498795
                       12th     83.497041
                       9th      83.590022
Wilson High School     10th     83.724422
                       11th     83.195326
                       12th     83.035794
                       9th      83.085578
Wright High School     10th     84.010288
                       11th     83.836782
                       12th     83.644986
                       9th      83.264706
Name: math_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [44]:
comb_df.groupby(['school_name', 'grade'])['reading_score'].mean()

school_name            grade
Bailey High School     10th     80.907183
                       11th     80.945643
                       12th     80.912451
                       9th      81.303155
Cabrera High School    10th     84.253219
                       11th     83.788382
                       12th     84.287958
                       9th      83.676136
Figueroa High School   10th     81.408912
                       11th     80.640339
                       12th     81.384863
                       9th      81.198598
Ford High School       10th     81.262712
                       11th     80.403642
                       12th     80.662338
                       9th      80.632653
Griffin High School    10th     83.706897
                       11th     84.288089
                       12th     84.013699
                       9th      83.369193
Hernandez High School  10th     80.660147
                       11th     81.396140
                       12th     80.857143
                       9th      80.866860
Holden High School     10th     83.324561
                       11th     83.815534
                       12th     84.698795
                       9th      83.677165
Huang High School      10th     81.512386
                       11th     81.417476
                       12th     80.305983
                       9th      81.290284
Johnson High School    10th     80.773431
                       11th     80.616027
                       12th     81.227564
                       9th      81.260714
Pena High School       10th     83.612000
                       11th     84.335938
                       12th     84.591160
                       9th      83.807273
Rodriguez High School  10th     80.629808
                       11th     80.864811
                       12th     80.376426
                       9th      80.993127
Shelton High School    10th     83.441964
                       11th     84.373786
                       12th     82.781671
                       9th      84.122642
Thomas High School     10th     84.254157
                       11th     83.585542
                       12th     83.831361
                       9th      83.728850
Wilson High School     10th     84.021452
                       11th     83.764608
                       12th     84.317673
                       9th      83.939778
Wright High School     10th     83.812757
                       11th     84.156322
                       12th     84.073171
                       9th      83.833333
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
abc_df = sch_sum_df

In [45]:
bins = [577, 596.9, 616.9, 636.9, 657]
budg_labels = ["577-596", "597-616", "617-636", "637-657"]

budg_sum_df = abc_df
budg_sum_df["Budget Group"] = pd.cut(budg_sum_df['Per Student Budget'], bins, labels=budg_labels)
budg_sum_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing,Budget Group
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421,53.513884,637-657
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,65.988471,53.204476,637-657
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,93.867121,95.854628,89.892107,597-616
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,66.752967,80.862999,53.527508,637-657
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965,90.599455,617-636
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641,90.582567,577-596
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828,91.334769,577-596
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,66.680064,81.933280,54.642283,617-636
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,92.505855,96.252927,89.227166,577-596
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946,90.540541,597-616
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,93.333333,96.611111,90.333333,577-596
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055,52.988247,637-657
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432,53.539172,637-657
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,68.309602,79.299014,54.289887,637-657
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869,90.948012,637-657

# <span style="color: blue;">CURRENTLY</span> <span style="color: green;">WORKING</span> <span style="color: red;">HERE</span>

## Scores by School Size

In [46]:
edges = [1, 1999.9, 2999.9, 3999.9, 5000]
size_labels = ["1-1999", "2000-2999", "3000-3999", "4000-5000"]

size_sum_df = sch_sum_df
#size_sum_df["School Size"] = pd.cut(size_sum_df["Total Students"], edges, labels=size_labels)
size_sum_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing,Budget Group
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421,53.513884,637-657
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,65.988471,53.204476,637-657
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,93.867121,95.854628,89.892107,597-616
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,66.752967,80.862999,53.527508,637-657
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965,90.599455,617-636
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641,90.582567,577-596
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828,91.334769,577-596
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,66.680064,81.933280,54.642283,617-636
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,92.505855,96.252927,89.227166,577-596
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946,90.540541,597-616
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,93.333333,96.611111,90.333333,577-596
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055,52.988247,637-657
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432,53.539172,637-657
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,68.309602,79.299014,54.289887,637-657
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869,90.948012,637-657

In [47]:
sch_sum_df

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Reading Score,Average Math Score,% Passing Math,% Passing Reading,% Overall Passing,Budget Group
0,Huang High School,District,2917,1910635,655.0,81.182722,76.629414,65.683922,81.316421,53.513884,637-657
1,Figueroa High School,District,2949,1884411,639.0,81.158020,76.711767,65.988471,65.988471,53.204476,637-657
2,Shelton High School,Charter,1761,1056600,600.0,83.725724,83.359455,93.867121,95.854628,89.892107,597-616
3,Hernandez High School,District,4635,3022020,652.0,80.934412,77.289752,66.752967,80.862999,53.527508,637-657
4,Griffin High School,Charter,1468,917500,625.0,83.816757,83.351499,93.392371,97.138965,90.599455,617-636
5,Wilson High School,Charter,2283,1319574,578.0,83.989488,83.274201,93.867718,96.539641,90.582567,577-596
6,Cabrera High School,Charter,1858,1081356,582.0,83.975780,83.061895,94.133477,97.039828,91.334769,577-596
7,Bailey High School,District,4976,3124928,628.0,81.033963,77.048432,66.680064,81.933280,54.642283,617-636
8,Holden High School,Charter,427,248087,581.0,83.814988,83.803279,92.505855,96.252927,89.227166,577-596
9,Pena High School,Charter,962,585858,609.0,84.044699,83.839917,94.594595,95.945946,90.540541,597-616
10,Wright High School,Charter,1800,1049400,583.0,83.955000,83.682222,93.333333,96.611111,90.333333,577-596
11,Rodriguez High School,District,3999,2547363,637.0,80.744686,76.842711,66.366592,80.220055,52.988247,637-657
12,Johnson High School,District,4761,3094650,650.0,80.966394,77.072464,66.057551,81.222432,53.539172,637-657
13,Ford High School,District,2739,1763916,644.0,80.746258,77.102592,68.309602,79.299014,54.289887,637-657
14,Thomas High School,Charter,1635,1043130,638.0,83.848930,83.418349,93.272171,97.308869,90.948012,637-657

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type