In [33]:
# Dependencies and Setup
import pandas as pd

In [34]:
# File to Load (Remember to Change These)

school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

In [35]:
# Read School and Student Data File and store into Pandas DataFrames

school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

In [36]:
# test school_data.head(10)

In [37]:
student_data.head(5)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [39]:
#create bins for Pass and Fail
bins = [0, 69.5, 100]
rPass = ["0", "1"]

student_data["Reading"] = pd.cut(student_data["reading_score"], bins, labels=rPass)
student_data.head()

bins = [0, 69.5, 100]
mPass = [(0), (1)]

student_data["Math"] = pd.cut(student_data["math_score"], bins, labels=mPass)
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Reading,Math
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,1
1,1,Victor Smith,M,12th,Huang High School,94,61,1,0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,1,0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,1,1

In [54]:
(oPass) = ["Reading"] + ["Math"]

if (oPass).value >= 2: student_data["Overall"] = "Pass"
else: student_data["Overall"] = "F"

student_data.head(20)

TypeError: 'type' object is not subscriptable

In [ ]:
# Combine the data into a single dataset.  
combined_data = pd.merge(school_data, student_data, on=["school_name"])

In [ ]:
#test combined_data.head(10)

In [ ]:
combined_data.dtypes

In [ ]:
#info combined_data.columns

## District Summary

In [ ]:
# Calculations under District Summary Dataframe
gSchool = combined_data.groupby(["school_name"])

In [ ]:
# Calculate the total number of schools
schoolCt = grSchool["school_name"].nunique()

In [ ]:
# Calculate the total number of students
studCt = grSchool["student_name"].count()

In [ ]:
# Caluculate the total budget
# schoolBudg = combined_data["budget"]
# distBudg = ["school_name",].nunique(schoolBudg).sum()

In [ ]:
# Calculate the average math score
mAvg = grSchool["math_score"].mean()

In [ ]:
# Calculate the average reading score
rAvg = grSchool["reading_score"].mean()

In [ ]:
# Calculate the percentage of students with a passing math score (70 or greater)
ppMath = (grSchool["m_P/F"].sum() / studCt)

In [ ]:
# Calculate the percentage of students with a passing reading score (70 or greater)
ppRead = (grSchool["r_P/F"].sum() / studCt)

In [ ]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
ppBoth = (grSchool["b_P/F"].sum() / studCt)

In [ ]:
# Create a dataframe to hold the above results
# distSum_df = 
# Optional: give the displayed data cleaner formatting

In [ ]:
# Create a dataframe to hold the above results
 dist_summary = grSchool({'Total Schools': schoolCt, 
              'Total Students': studCt
              'Total Budget': distBudg
              'Average Math Score': mAvg
              'Average Reading score': rAvg
              '% Passing Math': ppMath
              '% Passing Reading': ppRead
              '% Overall Passing': ppBoth})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type