In [83]:
# Dependencies and Setup
import pandas as pd

In [84]:
# File to Load (Remember to Change These)

school_df = "Resources/schools_complete.csv"
student_df = "Resources/students_complete.csv"

In [85]:
# Read School and Student Data File and store into Pandas DataFrames

school_df = pd.read_csv(school_df)
student_df = pd.read_csv(student_df)

In [86]:
school_df.head(1)

   School ID        school_name      type  size   budget
0          0  Huang High School  District  2917  1910635

In [87]:
student_df.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79

In [88]:
# Combine the data into a single dataset.  
comb_df = pd.merge(school_df, student_df, on=["school_name"])

In [89]:
comb_df.head(1)

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79

In [90]:
#  INFO comb_df.dtypes

In [ ]:
rPass_df = comb_df[comb_df['reading_score'] >= 70]
mPass_df = comb_df[comb_df['math_score'] >= 70]

# Save^  vTest School Splits

In [91]:
hua_df = comb_df[comb_df['school_name'] == 'Huang High School']
fig_df = comb_df[comb_df['school_name'] == 'Figueroa High School']
she_df = comb_df[comb_df['school_name'] == 'Shelton High School']
her_df = comb_df[comb_df['school_name'] == 'Hernandez High School']
gri_df = comb_df[comb_df['school_name'] == 'Griffin High School']
wil_df = comb_df[comb_df['school_name'] == 'Wilson High School']
cab_df = comb_df[comb_df['school_name'] == 'Cabrera High School']
bai_df = comb_df[comb_df['school_name'] == 'Bailey High School']
hol_df = comb_df[comb_df['school_name'] == 'Holden High School']
pen_df = comb_df[comb_df['school_name'] == 'Pena High School']
wri_df = comb_df[comb_df['school_name'] == 'Wright High School']
rod_df = comb_df[comb_df['school_name'] == 'Rodriquez High School']
joh_df = comb_df[comb_df['school_name'] == 'Johnson High School']
for_df = comb_df[comb_df['school_name'] == 'Ford High School']
tho_df = comb_df[comb_df['school_name'] == 'Thomas High School']

In [94]:
pRhua = hua_df.loc[(hua_df["reading_score"] >= 70), :].count()
pMhua = hua_df.loc[(hua_df["math_score"] >=70), :].count()
pAhua = hua_df.loc[(hua_df["reading_score"] >= 70) & (hua_df["math_score"] >=70), :].count()
#----------------------------------------
pRfig = fig_df.loc[(fig_df["reading_score"] >= 70), :].count()
pMfig = fig_df.loc[(fig_df["math_score"] >=70), :].count()
pAfig = fig_df.loc[(fig_df["reading_score"] >= 70) & (fig_df["math_score"] >=70), :].count()
#----------------------------------------
pRshe = she_df.loc[(she_df["reading_score"] >= 70), :].count()
pMshe = she_df.loc[(she_df["math_score"] >=70), :].count()
pAshe = she_df.loc[(she_df["reading_score"] >= 70) & (she_df["math_score"] >=70), :].count()
#----------------------------------------
pRher = her_df.loc[(her_df["reading_score"] >= 70), :].count()
pMher = her_df.loc[(her_df["math_score"] >=70), :].count()
pAher = her_df.loc[(her_df["reading_score"] >= 70) & (her_df["math_score"] >=70), :].count()
#----------------------------------------
pRgri = gri_df.loc[(gri_df["reading_score"] >= 70), :].count()
pMgri = gri_df.loc[(gri_df["math_score"] >=70), :].count()
pAgri = gri_df.loc[(gri_df["reading_score"] >= 70) & (gri_df["math_score"] >=70), :].count()
#----------------------------------------
pRwil = wil_df.loc[(wil_df["reading_score"] >= 70), :].count()
pMwil = wil_df.loc[(wil_df["math_score"] >=70), :].count()
pAwil = wil_df.loc[(wil_df["reading_score"] >= 70) & (wil_df["math_score"] >=70), :].count()
#----------------------------------------
pRcab = cab_df.loc[(cab_df["reading_score"] >= 70), :].count()
pMcab = cab_df.loc[(cab_df["math_score"] >=70), :].count()
pAcab = cab_df.loc[(cab_df["reading_score"] >= 70) & (cab_df["math_score"] >=70), :].count()
#----------------------------------------
pRbai = bai_df.loc[(bai_df["reading_score"] >= 70), :].count()
pMbai = bai_df.loc[(bai_df["math_score"] >=70), :].count()
pAbai = bai_df.loc[(bai_df["reading_score"] >= 70) & (bai_df["math_score"] >=70), :].count()
#----------------------------------------
pRhol = hol_df.loc[(hol_df["reading_score"] >= 70), :].count()
pMhol = hol_df.loc[(hol_df["math_score"] >=70), :].count()
pAhol = hol_df.loc[(hol_df["reading_score"] >= 70) & (hol_df["math_score"] >=70), :].count()
#----------------------------------------
pRpen = pen_df.loc[(pen_df["reading_score"] >= 70), :].count()
pMpen = pen_df.loc[(pen_df["math_score"] >=70), :].count()
pApen = pen_df.loc[(pen_df["reading_score"] >= 70) & (pen_df["math_score"] >=70), :].count()
#----------------------------------------
pRwri = wri_df.loc[(wri_df["reading_score"] >= 70), :].count()
pMwri = wri_df.loc[(wri_df["math_score"] >=70), :].count()
pAwri = wri_df.loc[(wri_df["reading_score"] >= 70) & (wri_df["math_score"] >=70), :].count()
#----------------------------------------
pRrod = rod_df.loc[(rod_df["reading_score"] >= 70), :].count()
pMrod = rod_df.loc[(rod_df["math_score"] >=70), :].count()
pArod = rod_df.loc[(rod_df["reading_score"] >= 70) & (rod_df["math_score"] >=70), :].count()
#----------------------------------------
pRjoh = joh_df.loc[(joh_df["reading_score"] >= 70), :].count()
pMjoh = joh_df.loc[(joh_df["math_score"] >=70), :].count()
pAjoh = joh_df.loc[(joh_df["reading_score"] >= 70) & (joh_df["math_score"] >=70), :].count()
#----------------------------------------
pRfor = for_df.loc[(for_df["reading_score"] >= 70), :].count()
pMfor = for_df.loc[(for_df["math_score"] >=70), :].count()
pAfor = for_df.loc[(for_df["reading_score"] >= 70) & (for_df["math_score"] >=70), :].count()
#----------------------------------------
pRtho = tho_df.loc[(tho_df["reading_score"] >= 70), :].count()
pMtho = tho_df.loc[(tho_df["math_score"] >=70), :].count()
pAtho = tho_df.loc[(tho_df["reading_score"] >= 70) & (tho_df["math_score"] >=70), :].count()

In [ ]:
student_df["school_name"].unique()

##TEST
spr_df = student_df.groupby(["school_name"])
rpCt = student_df.loc[(student_df["reading_score"] >= 70), :].count()
mpCt = student_df.loc[(student_df["math_score"] >= 70), :].count()
cpCt = student_df.loc[(student_df["reading_score"] >= 70) & (student_df["math_score"] >= 70), :].count()

rpCt, mpCt, cpCt

In [ ]:
# TEST rHuang_ct = in student_df(["school_name"] == ["Huang High School"] & ["reading_score"] >= 70).count()

In [ ]:
# rHuang_ct = [student_df(['school_name'] == ['Huang High School']) & (student_df["reading_score"] >= 70)].count()

## V these work for District Summary but not Schools

In [ ]:
p_rDist_Ct = student_df.loc[(student_df["reading_score"] >= 70), :].count()
p_mDist_Ct = student_df.loc[(student_df["math_score"] >=70), :].count()

In [ ]:
p_cDist_Ct = student_df.loc[(student_df["reading_score"] >= 70) & (student_df["math_score"] >=70), :].count()
p_rDist_Ct.head(1), p_mDist_Ct.head(1), p_cDist_Ct.head(1)

In [ ]:
# INFO combined_df.dtypes

## District Summary

In [ ]:
# Regroup the data by School
pass_Sch = combined_df.groupby(["school_name"])

In [ ]:
# gr_sch_df =

TEST

In [ ]:
p_mSch_Ct = student_df.loc[(student_df["math_score"] >=70), :].count()

In [ ]:
p_mSch_Ct.head(1)  ## SCH ATTEMPT Fail

In [ ]:
p_cDist_Ct = pass_Sch.loc[(pass_Sch["reading_score"] >= 70) & (pass_Sch["math_score"] >=70), :].count()

TEST

In [ ]:
# Calculate the total number of schools
schoolCt = gr_Sch_df["school_name"].nunique()

In [ ]:
# Calculate the total number of students
studDiCt = gr_Sch_df["student_name"].count()

In [ ]:
# Caluculate the total budget
#schoolBudg = combined_df["budget"]
#distBudg = ["school_name",].nunique(schoolBudg).sum()

In [ ]:
# Calculate the average math score
mAvg = gr_Sch_df["math_score"].mean()

In [ ]:
# Calculate the average reading score
rAvg = gr_Sch_df["reading_score"].mean()

In [ ]:
# Calculate the percentage of students with a passing math score (70 or greater)
# ppMath = (gr_Sch_df["m_P/F"].sum() / studDiCt)

In [ ]:
# Calculate the percentage of students with a passing reading score (70 or greater)
# ppRead = (gr_Sch_df["r_P/F"].sum() / studDiCt)

In [ ]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
#ppBoth = (gr_Sch_df["b_P/F"].sum() / studDiCt)

In [ ]:
# Optional: give the displayed data cleaner formatting

In [ ]:
# Create an overview table that summarizes key metrics about each school
sch_summary_df = combined_df({' ': schoolCt, 
              'School Name': combined_df["school_name"],
              'Budget': combined_df["budget"],})
              #'AVG M score': sch_mAvg,
              #'Passing Reading': sch_rCt,
              #'Passing Math': sch_mCt,
              #'Overall Passing': sch-bCt})

In [ ]:
# Create a dataframe to hold the above results
# dist_summary = gr_Sch_df({'Total Schools': schoolCt, 
             # 'Total Students': studDiCt
             # 'Total Budget': distBudg
             # 'Average Math Score': mAvg
             # 'Average Reading score': rAvg
             # '% Passing Math': ppMath
             # '% Passing Reading': ppRead
             # '% Overall Passing': ppBoth})
# dist_summary.head()

In [ ]:
combined_df.head(1)

## School Summary

In [ ]:
# School Name
schoolName = gr_Sch_df["school_name"].value
schoolName.head()

In [ ]:
# School Type
typeSch = combined_df["type"]
# Total Students
studCt = combined_df["size"]
# Total School Budget
schoolBudg = combined_df["budget"]
# Per Student Budget
iBudg = (schoolBudg / studCt)
# Average Math Score
mSchAvg = ##perschool##"math_score"().mean
# Average Reading Score
rSchAvg = ##perschool##"reading_score"().mean
# % Passing Math
ppMath##perschool##().mean
# % Passing Reading
ppReading##perschool##.mean
# % Overall Passing (The percentage of students that passed math **and** reading.)
ppBothper##perschool##().mean

In [ ]:
# Create an overview table that summarizes key metrics about each school
sch_summary = gr_Sch_df({' ': schoolCt, 
              'School Type': typeSch
              'Total Budget': schoolBudg
              'Average Math Score': mAvg
              'Average Reading score': rAvg
              '% Passing Math': ppMath
              '% Passing Reading': ppRead
              '% Overall Passing': ppBoth})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
#create a dataframe groped by Overall Passing per School
oPass_df = gr_Sch_df.groupby(["sch_summary.ascend=True

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
sch_summary.ascend=False

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
studByYr_summary = gr_Sch_df({' ': school_name, 
              '9th': mAvg
              '10th': mAvg
              '11th': mAvg
              '12th': mAvg

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
studByYr_summary = gr_Sch_df({' ': school_name, 
              '9th': rAvg
              '10th': rAvg
              '11th': rAvg
              '12th': rAvg

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type