In [43]:
# Dependencies and Setup
import pandas as pd

In [44]:
# File to Load (Remember to Change These)

school_df = "Resources/schools_complete.csv"
student_df = "Resources/students_complete.csv"

In [45]:
# Read School and Student Data File and store into Pandas DataFrames

school_df = pd.read_csv(school_df)
student_df = pd.read_csv(student_df)

In [46]:
school_df.head(1)

   School ID        school_name      type  size   budget
0          0  Huang High School  District  2917  1910635

In [47]:
student_df.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79

In [54]:
#create bins for Pass and Fail
bins = [0, 69.5, 100]
rPass = ["Fail", "Pass"]

student_df["Reading"] = pd.cut(student_df["reading_score"], bins, labels=rPass) 
student_df.head()

bins = [0, 69.5, 100]
mPass = ["Fail", "Pass"]

student_df["Math"] = pd.cut(student_df["math_score"], bins, labels=mPass)
student_df.head(1)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,Reading,Math
0,0,Paul Bradley,M,9th,Huang High School,66,79,Fail,Pass

In [55]:
student_df.dtypes

Student ID          int64
student_name       object
gender             object
grade              object
school_name        object
reading_score       int64
math_score          int64
Reading          category
Math             category
dtype: object

In [68]:
p_rDist_Ct = student_df["Reading"].value_counts()
p_mDist_Ct = student_df["Math"].value_counts()

p_rDist_Ct.head(), p_mDist_Ct.head()

(Pass    33610
 Fail     5560
 Name: Reading, dtype: int64,
 Pass    29370
 Fail     9800
 Name: Math, dtype: int64)

In [71]:
overall_pass = student_df.groupby(["Reading", "Math"])
oPass_df = ({'Reading', p_rDist_Ct,
             'Math', p_mDist_Ct,
             'Overall', overall_pass})
oPass_df.head()

TypeError: unhashable type: 'Series'

In [ ]:
# Combine the data into a single dataset.  
combined_df = pd.merge(school_df, student_df, on=["school_name"])

In [ ]:
combined_df.dtypes

## District Summary

In [ ]:
# Regroup the data by School
gr_Sch_df = combined_df.groupby(["school_name"])

In [ ]:
# Calculate the total number of schools
schoolCt = gr_Sch_df["school_name"].nunique()

In [ ]:
# Calculate the total number of students
studDiCt = gr_Sch_df["student_name"].count()

In [ ]:
# Caluculate the total budget
#schoolBudg = combined_df["budget"]
#distBudg = ["school_name",].nunique(schoolBudg).sum()

In [ ]:
# Calculate the average math score
mAvg = gr_Sch_df["math_score"].mean()

In [ ]:
# Calculate the average reading score
rAvg = gr_Sch_df["reading_score"].mean()

In [ ]:
# Calculate the percentage of students with a passing math score (70 or greater)
ppMath = (gr_Sch_df["m_P/F"].sum() / studDiCt)

In [ ]:
# Calculate the percentage of students with a passing reading score (70 or greater)
ppRead = (gr_Sch_df["r_P/F"].sum() / studDiCt)

In [ ]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)
ppBoth = (gr_Sch_df["b_P/F"].sum() / studDiCt)

In [ ]:
# Create a dataframe to hold the above results
# distSum_df = 
# Optional: give the displayed data cleaner formatting

In [ ]:
# Create a dataframe to hold the above results
# dist_summary = gr_Sch_df({'Total Schools': schoolCt, 
             # 'Total Students': studDiCt
             # 'Total Budget': distBudg
             # 'Average Math Score': mAvg
             # 'Average Reading score': rAvg
             # '% Passing Math': ppMath
             # '% Passing Reading': ppRead
             # '% Overall Passing': ppBoth})
# dist_summary.head()

In [ ]:
combined_df.head(1)

## School Summary

In [ ]:
# School Name
schoolName = gr_Sch_df["school_name"].value
schoolName.head()

In [ ]:
# School Type
typeSch = combined_df["type"]
# Total Students
studCt = combined_df["size"]
# Total School Budget
schoolBudg = combined_df["budget"]
# Per Student Budget
iBudg = (schoolBudg / studCt)
# Average Math Score
mSchAvg = ##perschool##"math_score"().mean
# Average Reading Score
rSchAvg = ##perschool##"reading_score"().mean
# % Passing Math
ppMath##perschool##().mean
# % Passing Reading
ppReading##perschool##.mean
# % Overall Passing (The percentage of students that passed math **and** reading.)
ppBothper##perschool##().mean

In [ ]:
# Create an overview table that summarizes key metrics about each school
sch_summary = gr_Sch_df({' ': schoolCt, 
              'School Type': typeSch
              'Total Budget': schoolBudg
              'Average Math Score': mAvg
              'Average Reading score': rAvg
              '% Passing Math': ppMath
              '% Passing Reading': ppRead
              '% Overall Passing': ppBoth})

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
#create a dataframe groped by Overall Passing per School
oPass_df = gr_Sch_df.groupby(["sch_summary.ascend=True

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
sch_summary.ascend=False

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
studByYr_summary = gr_Sch_df({' ': school_name, 
              '9th': mAvg
              '10th': mAvg
              '11th': mAvg
              '12th': mAvg

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
studByYr_summary = gr_Sch_df({' ': school_name, 
              '9th': rAvg
              '10th': rAvg
              '11th': rAvg
              '12th': rAvg

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type