In [10]:
# Dependencies and Setup
import pandas as pd

In [11]:
# File to Load (Remember to Change These)

school_data = "Resources/schools_complete.csv"
student_data = "Resources/students_complete.csv"

In [12]:
# Read School and Student Data File and store into Pandas DataFrames

school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

In [ ]:
#test school_data.head()

In [ ]:
#test student_data.head()

In [13]:
# Combine the data into a single dataset.  
combined_data = pd.merge(school_data, student_data, on=["school_name"])

In [ ]:
#test combined_data.head(10)

In [14]:
combined_data.dtypes

School ID         int64
school_name      object
type             object
size              int64
budget            int64
Student ID        int64
student_name     object
gender           object
grade            object
reading_score     int64
math_score        int64
dtype: object

In [ ]:
#info combined_data.columns

## District Summary

In [24]:
# Calculations under District Summary Dataframe
grSchool = combined_data.groupby(["school-name"])
grSchool.head()

KeyError: 'school-name'

In [15]:
# Calculate the total number of schools
schoolCt = combined_data["school_name"].nunique()

In [16]:
# Calculate the total number of students
studCt = combined_data["student_name"].count()

In [21]:
# Caluculate the total budget
# schoolBudg = combined_data["budget"]
# distBudg = ["school_name",].nunique(schoolBudg).sum()

In [22]:
# Calculate the average math score
mAvg = combined_data["math_score"].mean()

In [ ]:
# Calculate the average reading score
rAvg = combined_data["reading_score"].mean()

In [ ]:
# Calculate the percentage of students with a passing math score (70 or greater)

In [ ]:
# Calculate the percentage of students with a passing reading score (70 or greater)

In [ ]:
# Calculate the percentage of students who passed math **and** reading (% Overall Passing)

In [ ]:
# Create a dataframe to hold the above results
# distSum_df = 
# Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type